body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  text-align: center;
}

.container {
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}

.navbar {
  background: #111827;
  padding: 15px;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}